<div class="card">
    <div class="card-body">
        {{ form_start(form, { 'action': path('mensajes.post'), 'attr': { 'class': '' } }) }}
            <div class="form-group">
                {{ form_widget(form.contenido, {'attr': {'class': 'form-control', 'placeholder': 'Escribí un mensaje..', 'max':140}}) }}
            </div>
            
            <div class="_row">
                <div class="custom-file col-sm-10" lang="es">
                    {{ form_widget(form.photo, {'attr': {'class': 'custom-file-input', 'accept':"image/png,image/jpeg,image/jpg"}}) }}
                    <label class="custom-file-label" for="photo">Tambien podés elegir una imágen o arrastrarla aquí</label>
                </div>
                {# <div class="_col-sm-2"> #}
                    <button class="btn btn-secondary float-right" type="submit"> 
                        <i class="fa fa-paper-plane"></i> Enviar
                    </button>
                {# </div> #}
            </div>
        {{ form_end(form) }}
    </div>
</div>