{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Editar mis datos</h3>
        </div>
        <div class="card-body">
            {{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.apellido, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    {{ form_row(form.profilePhoto, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right">{{ 'profile.edit.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>    
    <div>
</div>
