{% extends "app.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include "perfil/info.twig" with {
                    'usuario': user
                } %}
            </div>
        
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#mensajes" data-toggle="tab">Mis mensajes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#likes" data-toggle="tab">Mis likes</a></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="mensajes">
                                {{ render(controller(
                                    'AppBundle:Default:mensajesPorFecha',
                                    {
                                        'user': user.id,
                                        'page': app.request.query.get('page')
                                    }
                                    ))
                                }}
                            </div>
                            <div class="tab-pane" id="likes">
                                {{ render(controller('AppBundle:Default:mensajesLikeados'))}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <div>
    </div>
{% endblock %}
