<!DOCTYPE html>
<html style="height: auto">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>THE WALL</title>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Josefin+Sans|Permanent+Marker&display=swap" rel="stylesheet">
    </head>
    <body class="bg-gradient">
        {% block content %}{% endblock %}
        {# {% include "default/header.html.twig" %}
        <div class="pt-3">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div> #}
    </body>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#toggle-follow-btn').on('click', function(e){
                e.preventDefault();
                e.stopPropagation();
                let btn = this;
                $(btn).html('Cargando..');
                $.ajax({
                    url: e.target.href,
                    type: 'GET',
                    success: function(e){
                        $(btn).text(e);
                    }    
                });
            })
        })
    </script>
    {% block scripts %}{% endblock %}
</html>

