<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
  <a class="navbar-brand text-primary font-permanent" href="{{path('homepage')}}"><h2>THE WALL</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
      
    <ul class="navbar-nav ml-auto">
      <form action="{{path('search')}}" method="get" class="form-inline my-2 my-lg-0">
        <div class="input-group input-group-sm">
          <input name="text" class="form-control form-control-navbar" type="search" placeholder="Buscar.." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
      {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle fa-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right text-dark" aria-labelledby="navbarDropdown">
            <a href="{{path('fos_user_profile_show')}}" class="text-dark dropdown-item">
              <i class="fa fa-user mr-2"></i> Perfil
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{path('fos_user_security_logout')}}" class="text-dark dropdown-item">
              <i class="fa fa-power-off mr-2"></i> Cerrar sesión
            </a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('fos_user_security_login') }}">Iniciar sesión</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>