{% extends 'app.twig' %}

{% block stylesheets %}
    <style>
        .custom-file-input ~ .custom-file-label::after {
            content: "Elegir";
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-3 d-none d-sm-block">
                {% include "perfil/info-basica.twig" with {
                    'usuario': app.user
                } %}
            </div>

            <div class="col-sm-9">
                {% include "components/post-mensaje.twig" %}
                
                <div class="card">
                    <div class="card-body">
                        {% if pagination.count() %}
                            {% for mensaje in pagination %}
                                {% include "mensajes/block.twig" %}
                            {% endfor %}
                        {% else %}
                            <p>No hay mensajes de seguidores</p>
                        {% endif %}
                        
                    </div>
                    <div class="navigation mx-auto">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
