{% extends 'app.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {% include "perfil/info.twig" with {
                    'usuario': usuario
                } %}
            </div>
        
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        {% for mensaje in usuario.mensajes %}
                            {% include "mensajes/block.twig" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        <div>
    </div>
{% endblock %}
