{% extends 'app.twig' %}


{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Resultados para la busqueda de "{{search}}"</h3>
            </div>
            <div class="card-body">
                {% if usuarios is empty %}
                    <p>No se encontraron usuarios</p>
                {% else %}
                    <ul class="users-list clearfix">
                        {% for user in usuarios %}
                            {% if user.id != app.user.id %}
                                <li>
                                    <img src="{{user.profilePhotoName ? vich_uploader_asset(user, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
                                    <a class="users-list-name" href="#">{{user}}</a>
                                    <a class="btn btn-sm btn-primary" href="{{path('show-profile', {id: user.id})}}">Ver perfil</a>
                                    <a id="toggle-follow-btn" class="btn btn-sm btn-secondary" href="{{path('toggle-follow', {userId: user.id})}}">
                                        {% if app.user.isFollowing(user) %}
                                            Dejar de seguir
                                        {% else %}
                                            Seguir
                                        {% endif %}
                                    </a>
                                </li>    
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>  
        </div>
    </div>
{% endblock %}
