{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="register-box">
        <div class="register-logo">
            <a class="text-white font-permanent" href="#">THE WALL</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p>{{ 'registration.confirmed'|trans({'%username%': user}) }}</p>
                {% if targetUrl %}
                <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
