{% trans_default_domain 'FOSUserBundle' %}
{# {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }} #}

<div class="register-box">
  <div class="register-logo">
    <a class="text-white font-permanent" href="#">THE WALL</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">

        {{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 'class': 'fos_user_registration_register' } }) }}
        
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.apellido, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_row(form.profilePhoto, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn float-right btn-secondary">{{ 'registration.submit'|trans }}</button>
        {{ form_end(form) }}

    </div>
    
  </div>
</div>

