
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #33b5e5;
$indigo: #6574cd;
$purple: #aa66cc;
$pink: #f66D9b;
$red: #ff4444;
$orange: #f6993f;
$yellow: #ffbb33;
$green: #00C851;
$teal: #2BBBAD;
$cyan: #4285F4;

$primary: #fc4a1a;
$secondary: #f7b733;

// $primary: #d53369;
// $secondary: #f7b733;
//$primary: #961276;
//$secondary: #F36265
// $primary: #184e68;
// $secondary: #57ca85