
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'admin-lte/scss/AdminLTE.scss';

.required::after{
  content:" *";color:red;
}

.bg-gradient{
  background: -webkit-linear-gradient(50deg,$primary,$secondary)!important;
  background: -o-linear-gradient(50deg,$primary,$secondary)!important;
  background: linear-gradient(40deg,$primary,$secondary)!important;
}

.font-baloo{
  font-family: 'Baloo Bhai', cursive;
}
.font-josefin{
  font-family: 'Josefin Sans', sans-serif;
}
.font-permanent{
  font-family: 'Permanent Marker', cursive;
}

.mt-6{
  margin-top: 6em !important;
}
