{% extends "app.twig" %}

{% block body %}
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock body %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            $('#fos_user_change_password_form_plainPassword_first, #fos_user_change_password_form_plainPassword_second').on('change', function(e){
                let first = $('#fos_user_change_password_form_plainPassword_first').val();
                let second = $('#fos_user_change_password_form_plainPassword_second').val();
                if (first != second){
                    $('#pw_distintas_alert').removeClass('d-none');
                }
                else{
                    $('#pw_distintas_alert').addClass('d-none');
                }
            })
        })
    </script>
{% endblock %}