{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="card">
        <div class="card-body">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_errors(form) }}
            
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div id="pw_distintas_alert" class="d-none text-danger col-sm-12">
                    <i class="fa fa-times"></i> Las constraseñas ingresadas no coinciden
                </div>

                <button type="submit" class="btn btn-primary float-right">{{ 'change_password.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>