{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
  <div class="register-logo">
    <a class="text-white font-permanent" href="#">THE WALL</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      {% if error %}
          <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <i class="icon fa fa-ban"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
          </div>
      {% endif %}

      <form action="{{ path("fos_user_security_check") }}" method="post">

        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        
        <div class="input-group mb-3">
          <input value="{{ last_username }}" autocomplete="username" required type="text" id="username" name="_username" class="form-control" placeholder="Nombre de usuario">
          <div class="input-group-append">
              <span class="fa fa-user input-group-text"></span>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="password" id="password" name="_password" required autocomplete="current-password" class="form-control" placeholder="Contraseña">
          <div class="input-group-append">
              <span class="fa fa-lock input-group-text"></span>
          </div>
        </div>
        <a href="{{path('fos_user_resetting_request')}}" class="text-decoration-none">No recuerdo mi contraseña</a><br>
        
        <a href="{{path('fos_user_registration_register')}}" class="btn btn-outline-primary">Registrarme</a>
        <button type="submit" class="btn float-right btn-secondary">Entrar</button>
      </form>

    </div>
    
  </div>
</div>
