{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
  <div class="register-logo">
    <a class="text-white font-permanent" href="#">THE WALL</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input required type="text" id="username" name="username" class="form-control">
            </div>

            <button type="submit" class="btn float-right btn-secondary">{{ 'resetting.request.submit'|trans }}</button>
        </form>

    </div>
    
  </div>
</div>