{% trans_default_domain 'FOSUserBundle' %}

<div class="register-box">
  <div class="register-logo">
    <a class="text-white font-permanent" href="#">THE WALL</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">

        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn float-right btn-secondary">{{ 'resetting.reset.submit'|trans }}</button>
        {{ form_end(form) }}

    </div>
    
  </div>
</div>
