<div class="post">
    <div class="user-block">
        {% if app.user.id == mensaje.user.id %}
            <a href="{{path('mensajes.delete', {mensajeId: mensaje.id})}}" class="float-right btn-tool">Eliminar</a>
        {% endif %}
        <img class="img-circle img-bordered-sm" src="{{mensaje.user.profilePhotoName ? vich_uploader_asset(mensaje.user, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
        <span class="username"><a href="{{path('show-profile', {id: mensaje.user.id})}}">{{mensaje.user}}</a></span>
        <span class="description">{{mensaje.fecha|date("j/Y \\a\\ \\l\\a\\s\\ g:ia",  "Europe/Paris") }}</span>
    </div>
    <p>
        {{mensaje.contenido}}
    </p>
    {% if mensaje.photoName  %}
        <img class="img-fluid" src="{{ vich_uploader_asset(mensaje, 'photo') }}"/>
    {% endif %}
    
    <p>
        <a id="toggle-like" href="{{path('like', {mensajeId: mensaje.id})}}" class="text-sm">
            {% if app.user.liked(mensaje) %}
                <i id="like-icon" class="fas fa-heart mr-1"></i> 
            {% else %}
                <i id="like-icon" class="far fa-heart mr-1"></i> 
            {% endif %}
            Me gusta
        </a>
        ({{mensaje.getLikesCount()}} Me gusta/s)
    </p>
</div>