{# <div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="{{usuario.foto ?: asset('imagenes/no-photo.png')}}" alt="">
        </div>

        <h3 class="profile-username text-center">{{usuario}}</h3>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Seguidores</b> <a class="float-right">{{usuario.followers.count()}}</a>
            </li>
            <li class="list-group-item">
                <b>Siguiendo</b> <a class="float-right">{{usuario.follows.count()}}</a>
            </li>
            <li class="list-group-item">
                <b>Comentarios</b> <a class="float-right">{{usuario.mensajes.count()}}</a>
            </li>
        </ul>

        <a href="{{path('fos_user_profile_show')}}" class="btn btn-primary btn-block"><b>Ver mi perfil</b></a>
    </div>
</div> #}

<div class="card card-widget widget-user">
    <div class="widget-user-header bg-info-active">
        <h3 class="widget-user-username">{{usuario}}</h3>
    </div>
    <div class="widget-user-image">
        <img class="img-circle img-bordered-sm" src="{{usuario.profilePhotoName ? vich_uploader_asset(usuario, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-6 border-right">
                <div class="description-block">
                    <h5 class="description-header">{{usuario.getFollowers().count()}}</h5>
                    <span class="description-text">SEGUIDORES</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="description-block">
                    <h5 class="description-header">{{usuario.getFollows().count()}}</h5>
                    <span class="description-text">SIGUIENDO</span>
                </div>
            </div>
        </div>
        <a href="{{path('fos_user_profile_show')}}" class="btn btn-primary btn-block"><b>Ver mi perfil</b></a>
    </div>
</div>