<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img _img-fluid img-circle img-bordered-sm" src="{{usuario.profilePhotoName ? vich_uploader_asset(usuario, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
            
        </div>

        <h3 class="profile-username text-center">{{usuario}}</h3>
        <p class="text-center">{{usuario.username}}</p>
        {% if usuario.id != app.user.id %}
            <a id="toggle-follow-btn" class="btn btn-block btn-secondary" href="{{path('toggle-follow', {userId: usuario.id})}}">
                {% if app.user.isFollowing(usuario) %}
                    Dejar de seguir
                {% else %}
                    Seguir
                {% endif %}
            </a>
        {% else %}
            <a href="{{path('fos_user_profile_edit')}}" class="btn btn-secondary btn-block">Editar mis datos</a>
            <a href="{{path('fos_user_change_password')}}" class="btn btn-link btn-block">Cambiar mi contraseña</a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Seguidores ({{usuario.followers.count()}})</h3>
    </div>
    <div class="card-body p-0">
        <ul class="users-list clearfix">
            {% for user in usuario.followers %}
                <li>
                    <img src="{{user.profilePhotoName ? vich_uploader_asset(user, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
                    <a class="users-list-name" href="{{path('show-profile', {id: user.id})}}">{{user}}</a>
                </li>    
            {% endfor %}
        </ul>
    </div>
    {# <div class="card-footer text-center">
        <a href="javascript::">Ver todos</a>
    </div> #}
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Siguiendo ({{usuario.follows.count()}})</h3>
    </div>
    <div class="card-body p-0">
        <ul class="users-list clearfix">
            {% for user in usuario.follows %}
                <li>
                    <img src="{{user.profilePhotoName ? vich_uploader_asset(user, 'profilePhoto') : asset('imagenes/no-photo.png')}}" alt="">
                    <a class="users-list-name" href="{{path('show-profile', {id: user.id})}}">{{user}}</a>
                </li>    
            {% endfor %}
        </ul>
    </div>
    {# <div class="card-footer text-center">
        <a href="javascript::">Ver todos</a>
    </div> #}
</div>

