{% if pagination.count() %}
    {% for mensaje in pagination %}
        {% include "mensajes/block.twig" %}
    {% endfor %}
{% else %}
    <p>No hay mensajes de seguidores</p>
{% endif %}

<div class="navigation mx-auto">
    {{ knp_pagination_render(pagination) }}
</div>